.kt-invoice-1 .kt-invoice__wrapper {
  overflow: hidden; }
  .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head {
    background-size: cover;
    background-repeat: no-repeat; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container {
      padding-left: 5rem;
      padding-right: 5rem; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container.kt-invoice__container--centered {
        width: 70%;
        margin: 0 auto;
        padding: 0; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 10rem; }
        .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo > a {
          text-decoration: none; }
          .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo > a > h1 {
            font-weight: 700;
            font-size: 2.7rem;
            color: #fff; }
          .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo > a:last-child {
            text-align: right; }
          .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo > a:first-child {
            vertical-align: top; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__desc {
        text-align: right;
        display: block;
        padding: 1rem 0 4rem 0;
        color: #7ad2f1; }
        .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__desc > span {
          display: block; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding: 5rem 0 6rem 0;
        border-top: 1px solid #27b6e9; }
        .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items .kt-invoice__item {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          overflow: hidden;
          color: #fff; }
          .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items .kt-invoice__item .kt-invoice__subtitle {
            font-weight: 500;
            padding-bottom: 0.5rem; }
          .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items .kt-invoice__item .kt-invoice__text {
            color: #7ad2f1; }
          .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items .kt-invoice__item > span {
            display: block; }
  .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body {
    padding: 6rem 5rem 0 5rem; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body.kt-invoice__body--centered {
      width: 70%;
      margin: 0 auto;
      padding: 6rem 0 0 0; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body table thead tr th {
      padding: 1rem 0 0.5rem 0;
      border-top: none;
      color: #a7abc3; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body table thead tr th:not(:first-child) {
        text-align: right; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body table tbody tr td {
      padding: 1rem 0 1rem 0;
      border-top: none;
      font-weight: 700;
      font-size: 1.1rem;
      color: #6c7293; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body table tbody tr td:not(:first-child) {
        text-align: right; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body table tbody tr td:last-child {
        color: #FE21BE;
        font-size: 1.2rem; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body table tbody tr:first-child td {
      padding-top: 1.8rem; }
  .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer {
    margin-top: 7rem;
    background-color: #f7f8fa; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 5rem 0 6rem 0; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container.kt-invoice__container--centered {
        width: 70%;
        margin: 0 auto; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content {
        font-weight: 400;
        font-size: 1.1rem; }
        .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content .kt-invoice__price {
          font-size: 1.9rem;
          font-weight: 700; }
        .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content > span {
          display: block;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          color: #6c7293;
          padding-bottom: 1rem; }
          .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content > span > span {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            font-weight: 400; }
            .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content > span > span:first-child {
              color: #6c7293;
              font-weight: 500; }
            .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content > span > span:last-child {
              text-align: right;
              font-size: 1rem; }
          .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content > span:first-child {
            color: #a7abc3; }
          .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content > span > span:last-child {
            color: #a7abc3;
            font-weight: 500; }
        .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content:first-child {
          width: 35%; }
        .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content .kt-invoice__price {
          color: #FE21BE !important;
          font-weight: 700 !important; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content:last-child span {
        text-align: right;
        display: block; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content:not(:first-child) > span {
        color: #6c7293;
        font-weight: 500; }

@media (max-width: 768px) {
  .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container {
    width: 100% !important;
    padding: 0 2rem 0 2rem; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container.kt-invoice__container--centered {
      padding: 0 2rem 0 2rem; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: 4rem; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo > a {
        width: 100%;
        display: block; }
        .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo > a:last-child {
          padding-top: 1rem;
          text-align: left; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__desc {
      text-align: left;
      padding-bottom: 2rem; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items {
      padding: 2rem 0 2rem 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items .kt-invoice__item {
        width: 100%;
        display: block;
        padding-bottom: 2rem; }
        .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items .kt-invoice__item:not(:first-child) {
          padding-left: 0; }
  .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body {
    width: 100% !important;
    padding: 3rem 2rem 0 2rem; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body.kt-invoice__body--centered {
      padding: 3rem 2rem 0 2rem; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body table thead tr th:not(:first-child) {
      padding-right: 0.7rem; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body table thead tr th:last-child {
      padding-right: 0; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body table tbody tr td:not(:first-child) {
      padding-right: 0.7rem; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__body table tbody tr td:last-child {
      padding-right: 0; }
  .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer {
    margin-top: 2rem; }
    .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container {
      width: 100%;
      padding: 4rem 2rem 4rem 2rem; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container.kt-invoice__container--centered {
        width: 100%; }
      .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content {
        width: 100%;
        display: block; }
        .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content:first-child {
          width: 100%; }
        .kt-invoice-1 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__container .kt-invoice__content:last-child {
          padding-top: 2rem;
          text-align: left; } }

@media print {
  .kt-header,
  .kt-header-mobile,
  .kt-aside,
  .kt-aside-secondary,
  .kt-footer,
  .kt-subheader,
  .kt-scrolltop,
  .kt-quick-panel,
  .kt-demo-panel,
  .kt-sticky-toolbar {
    display: none !important; } }
