.bg-white {
    background-color: white;
}

.users .current-user {
    height:65px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.25);
    margin-left: 15px;
    margin-right: 15px;
}

.users .other-user {
    height:65px;
    margin-left: 15px;
    margin-right: 15px;
}

.b-b {
    border-bottom: 1px solid rgba(112, 112, 112, 0.25);
}

.bg-stream {
    background-color: #ebebeb !important;
}

.ph-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.pv-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.w-10 {
    width: 10%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.vh-5 {
    height: 5vh !important;
}

.vh-10 {
    height: 10vh !important;
}

.vh-15 {
    height: 15vh !important;
}

.vh-20 {
    height: 20vh !important;
}

.vh-50 {
    height: 50vh !important
}

.vh-80 {
    height: 80vh !important
}

.vh-85 {
    height: 85vh !important
}

.vh-90 {
    height: 90vh !important
}

.vh-95 {
    height: 95vh !important
}

.br-0 {
    border-radius: 0px !important;
}

.h-60 {
    height: 60% !important;
}

.w-30 {
    width: 30% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.ph-1 {
    padding-left: .25rem!important;
    padding-right: .25rem!important;
}

.ph-2 {
    padding-left: .5rem!important;
    padding-right: .5rem!important;
}

.ph-3 {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}

.ph-4 {
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
}

.ph-5 {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4e73df;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4e73df;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Chat on Live Streaming Interview */
.nav-link-custom {
    display: block;
    padding: .5rem 1rem;
}

.nav-link-custom:hover {
    text-decoration: none !important;
}

.nav-tabs .nav-item.show .nav-link-custom, .nav-tabs .nav-link-custom.active {
    color: #3da2bb;
    background-color: #ffffff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link-custom {
    border: 1px solid transparent;
    color: #a2a2a2;
}

.txt-stream {
    font-family: 'Open Sans', sans-serif;
}

/* Scrollbar chat */
.scrollbar {
    overflow-y:scroll;
    overflow-x:hidden;
    height:400px;
}

/* width */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* top shadow */
.top-shadow {
    -webkit-box-shadow: 0px -8px 5px 0px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 0px -8px 5px 0px rgba(0,0,0,0.2) !important;
    box-shadow: 0px -8px 5px 0px rgba(0,0,0,0.2) !important;
}

/* content chat */
.nav-tabs #nav-home-tab.active img {
    content:url("../img/ic-users-active.png");
}

.nav-tabs #nav-profile-tab.active img {
    content:url("../img/ic-chats-active.png");
}

.rm-style {
    list-style-type: none;
}

.tab-content ul li {
    display: grid;
}
.send-msg{
    position: relative;
}
.send-msg:after{
    content: "";
    width:0;
    height:0;
    top: 10px;
    right: -8px;
    position: absolute;
    border-top: 8px solid #CFD8DC;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.send-msg p{
    background: #CFD8DC;
}
.sender-img{
    display: inline;
}
.sender-img img{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.receive-msg .them-msg{
    display: inline-block;
    position: relative;
}

.border-chat-them {
    border: solid 1px rgba(112, 112, 112, 0.25);
}

.them-msg:before{
    content: "";
    width:0;
    height:0;
    top: 12px;
    left: -8px;
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid rgba(112, 112, 112, 0.25);
    border-top: 4px solid rgba(112, 112, 112, 0.25);
    border-bottom: 4px solid transparent;
}

.them-msg:after{
    content: "";
    width:0;
    height:0;
    top: 13px;
    left: -6px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 5px solid transparent;
}

.border-chat-mine {
    border: solid 1px #3da2bb;
}

.mine-msg:before{
    content: "";
    width:0;
    height:0;
    top: 12px;
    right: -8px;
    position: absolute;
    border-left: 4px solid #3da2bb;
    border-right: 4px solid transparent;
    border-top: 4px solid #3da2bb;
    border-bottom: 4px solid transparent;
}

.mine-msg:after{
    content: "";
    width:0;
    height:0;
    top: 13px;
    right: -6px;
    position: absolute;
    border-left: 5px solid #fff;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    border-bottom: 5px solid transparent;
}

.receive-msg-time,.send-msg-time{
    color: #7D7E87;
    font-size: 10px;
}
.receive-msg-time i{
    font-size: 4px;
}

/* send chat */
.box-chat {
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.3);
}
.chat_field {
    position: relative;
    margin: 5px 0 5px 0;
    width: 100%;
    font-family: 'Roboto';
    font-size: 12px;
    /* line-height: 30px; */
    font-weight: 500;
    color: #4b4b4b;
    -webkit-font-smoothing: antialiased;
    /* font-smoothing: antialiased; */
    border: none;
    outline: none;
    display: inline-block;
}
.chat_field.chat_message {
    margin: 0px;
    height: 30px;
    resize: none;
    font-size: 13px;
    font-weight: 400;
}

/* search button on users tab */


#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}
