.container-live{
    position: fixed;
    width: 76%;
}

.cursor{
    cursor: pointer !important;
}

.panel-streaming{
    height: 50vh !important;
    /*background-color: black !important;*/
    display: flex !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
    z-index: 99 !important;
}

.panel-streaming > div{
    max-width: 100% !important;
    flex: 0 0 100% !important;
}
.panel-streaming.OT_subscriber{
    height: 50vh !important;
}

.panel-streaming.OT_publisher{
    height: 50vh !important;
}





.full-streaming{
    height: 100vh !important;
    /*background-color: black !important;*/
    display: flex !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    z-index: 99 !important;
}

.full-streaming > div{
    max-width: 100% !important;
    flex: 0 0 100% !important;
}
.full-streaming.OT_subscriber{
    height: 100vh !important;
}

.full-streaming.OT_publisher{
    height: 100vh !important;
}

.full-streaming.panel-streaming{
    height: 100vh !important;
}





.OT_subscriber, .OT_publisher{
    /*background-color: black !important;*/
    display: flex !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
    z-index: 99 !important;
}

.panel-live{
    height: 50vh !important;
    background-color: black !important;
    display: flex !important;
    position: absolute;
}
.panel-left{
    left: 0;
}
.panel-right{
    right: 0;
}
.panel-left-bottom{
    left: 0;
    top: 50vh;
}
.panel-right-bottom{
    right: 0;
    top: 50vh;
}
.panel-live-me{
    position: fixed;
    width: 180px;
    height: 120px;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
    background: black;
}
@media (max-width: 768px) {
    .panel-live-me{
        position: absolute;
        width: 90px;
        height: 60px;
    }
    .container-live{
        position: unset;
        width: 100%;
        height: 100vh;
    }
}