.kt-pricing-3 {
  padding: 5.71rem 0 5.71rem 0; }
  .kt-pricing-3.kt-pricing-3--fixed {
    width: 75%;
    margin: 0 auto; }
  .kt-pricing-3 .kt-pricing-3__items {
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08); }
    .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper {
      padding: 4.2rem 1rem;
      text-align: center; }
      .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__title {
        font-size: 1.3rem; }
      .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__price {
        border-radius: 1.07rem;
        margin-top: 2.83rem;
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 500;
        padding: 0.83rem 1.43rem 0.83rem 1.43rem; }
        .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__price.kt-pricing-3__price--padding {
          padding: 1.4rem 1.43rem 1.4rem 1.43rem; }
        .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__price .kt-pricing-3__label {
          font-size: 1.5rem;
          vertical-align: 33%; }
        .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__price .kt-pricing-3__number {
          font-size: 2.64rem; }
        .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__price .kt-pricing-3__text {
          font-size: 1.07rem;
          vertical-align: 40%; }
      .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__description {
        text-align: center;
        font-size: 0.96rem;
        display: inline-block;
        margin-top: 2.85rem; }
        .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__description > span {
          display: block; }
          .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__description > span:nth-child(1) {
            letter-spacing: 0.01rem; }
      .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__btn {
        margin: 2.83rem auto 0 auto; }
        .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__btn > .btn {
          padding: 0.8rem 3.6rem 0.8rem 3.6rem; }
    .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item.kt-pricing-3__item--focus {
      margin-top: -3rem;
      margin-bottom: -3rem; }
      .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item.kt-pricing-3__item--focus .kt-pricing-3__wrapper {
        padding: 7rem 1rem; }
        .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item.kt-pricing-3__item--focus .kt-pricing-3__wrapper .kt-pricing-3__price {
          background-color: #627cff; }

@media (min-width: 1025px) and (max-width: 1399px) {
  .kt-pricing-3.kt-pricing-3--fixed {
    width: 90%;
    margin: 0 auto; } }

@media (max-width: 1024px) {
  .kt-pricing-3 {
    padding: 2.14rem 0 2.14rem 0; }
    .kt-pricing-3.kt-pricing-3--fixed {
      width: 100%;
      margin: 0 auto; }
      .kt-pricing-3.kt-pricing-3--fixed .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper {
        padding: 3rem 1rem; }
      .kt-pricing-3.kt-pricing-3--fixed .kt-pricing-3__items .kt-pricing-3__item.kt-pricing-3__item--focus {
        margin-top: 0;
        margin-bottom: 0; }
        .kt-pricing-3.kt-pricing-3--fixed .kt-pricing-3__items .kt-pricing-3__item.kt-pricing-3__item--focus .kt-pricing-3__wrapper {
          padding: 3rem 1rem; } }

.kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__title {
  color: #a7abc3; }

.kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__price {
  background-color: #FCFCFE;
  color: #a7abc3; }
  .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__price .kt-pricing-3__label {
    color: #a7abc3; }
  .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__price .kt-pricing-3__text {
    color: #a7abc3; }

.kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item .kt-pricing-3__wrapper .kt-pricing-3__description {
  color: #a7abc3; }

.kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item.kt-pricing-3__item--focus .kt-pricing-3__wrapper .kt-pricing-3__btn > .btn:hover {
  color: #fff;
  background-color: #17a7da;
  border: 1px solid #17a7da; }

.kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item.kt-pricing-3__item--focus .kt-pricing-3__price {
  background-color: #756ECD; }
  .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item.kt-pricing-3__item--focus .kt-pricing-3__price .kt-pricing-3__label {
    color: #C4C2FF; }
  .kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item.kt-pricing-3__item--focus .kt-pricing-3__price .kt-pricing-3__text {
    color: #C4C2FF; }

.kt-pricing-3 .kt-pricing-3__items .kt-pricing-3__item.kt-pricing-3__item--focus .kt-pricing-3__description {
  color: #C4C2FF; }
